@using GamingGuruBlog.Data.Models
@using Microsoft.AspNet.Identity


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>@ViewBag.Title - Gaming Guru</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    <link href="~/Content/app/SimplexTheme.css" rel="stylesheet" />
    @*<link href="~/Content/app/CyborgTheme.css" rel="stylesheet" />*@
    @*<link href="~/Content/app/SandstoneTheme.css" rel="stylesheet" />
    <link href="~/Content/app/SuperHeroTheme.css" rel="stylesheet" />*@

    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Scripts/EasterEgg/toasty.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Gaming Guru", "Welcome", "Welcome", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.Action("Action", "PartialView")</li>
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Admin Panel", "AdminPanel", "Admin", new { id = User.Identity.GetUserId() }, null)</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <div class="col-sm-8">
                @RenderBody()
                <a href="#" class="myButton"></a>  
                @*<div class="goButton jGravity"><h2>initate</h2></div>*@  
                <br />
            </div>
            @Html.Action("FillWidgetWithData", "PartialView")
            
        </div>       
        <footer>
            <p>&copy; @DateTime.Now.Year - Gaming Guru</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
<script src="~/Scripts/cheet.min.js"></script>
<script src="~/Scripts/jquery-1.4.1.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
<script>!window.jQuery && document.write('<script src="jquery-1.4.3.min.js"><\/script>')</script>
<script src="~/Scripts/jquery.raptorize.1.0.js"></script>
<script src="~/Scripts/EasterEgg/jquery.toasty.js"></script>
<script src="~/Scripts/app/tagcanvas.min.js"></script>
<script src="~/Scripts/app/jquery.tagcanvas.min.js"></script>

@*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>*@
<script src="~/Scripts/EasterEgg/jGravity-min.js"></script>


<script type="text/javascript">
    $(window).load(function () {
        $('.myButton').raptorize({
            'enterOn': 'konami-code'

        })
    });

    $(document).ready(function () {

        $("body").toasty();

        $("#toasty-button").click(function () {
            $("body").toasty('pop');
        });

    });

    window.onload = function () {
        try {
            var gradient = {
                0: '#f00', // red
                0.33: '#ff0', // yellow
                0.66: '#0f0', // green
                1: '#00f'  // blue
            };
            TagCanvas.weightGradient = gradient;
            TagCanvas.textColour = '#FF0000';
            TagCanvas.outlineColour = '#ff9999';
            TagCanvas.SetSpeed('#myCanvas', [0.10, -0.25]);
            //TagCanvas.SetSpeed('myCanvas', ['0.5', '-0.25']);         
            TagCanvas.Start('myCanvas');
        } catch (e) {
            // something went wrong, hide the canvas container
            document.getElementById('myCanvasContainer').style.display = 'none';
        }
    };

    $(document).ready(function () {

        $('div.jGravity').live('click', function () {
            $('body').jGravity({
                target: 'everything',
                ignoreClass: 'ignoreMe',
                weight: 25,
                depth: 5,
                drag: true
            });
        });
    });


    //$(document).ready(function () {
    //    if (!$('#myCanvas').tagcanvas({
    //        textFont: 'Arial',
    //        textColour: '#FF0000',
    //        outlineThickness: 1,
    //        maxSpeed: 0.03,
    //        depth: 0.75
            
    //    })) {
    //        // TagCanvas failed to load
    //        $('#myCanvasContainer').hide();
    //    }
    //    // your other jQuery stuff here...
    //});
</script>
